<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/65b7aa02-a828-47ab-8aeb-8826de182358/resourceGroups/MVCTutorialResourceGroup/providers/Microsoft.Web/sites/MVCTutorialAndresM</ResourceId>
    <ResourceGroup>MVCTutorialResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvctutorialandresm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvctutorialandresm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCTutorialAndresM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVCTutorialAndresM</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvctutorialandresmdbserver.database.windows.net,1433;Initial Catalog=MVCTutorialAndresM_db;User ID=Andres@mvctutorialandresmdbserver;Password=Vn3njwarrodk" Name="Data Source=tcp:mvctutorialandresmdbserver.database.windows.net,1433;Initial Catalog=MVCTutorialAndresM_db;User Id=Andres@mvctutorialandresmdbserver;Password=Vn3njwarrodk" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCTutorial.Models.ApplicationDbContext, MVCTutorial" MigrationConfiguration="MVCTutorial.Migrations.Configuration, MVCTutorial" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvctutorialandresmdbserver.database.windows.net,1433;Initial Catalog=MVCTutorialAndresM_db;User Id=Andres@mvctutorialandresmdbserver;Password=Vn3njwarrodk</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>